<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="refresh" content="10"> <!-- Refresh every 10 seconds -->
        <title>Wholesome Meme</title>
    </head>
    <body>
        <h2>FUNNY MEMES!!!</h2>
        {% if meme_url and subreddit %}
            <div>
                <img src="{{ meme_url }}" alt="Meme" style="max-width: 100%; height: auto;">
            </div>
            <p>Source: r/{{ subreddit }}</p>
        {% else %}
            <p> Dang!, cannot load your memes :/  ... sorry!.</p>
        {% endif %}
    </body>
</html>
